.background {
    -fx-background-color: #ffffff;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.label-white {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-ranking-top {
    -fx-font-size: 48pt;
    -fx-font-family: "Lobster";
    -fx-text-fill: #1c1c1c;
    -fx-opacity: 1;
}

.label-ranking {
    -fx-font-size: 36pt;
    -fx-font-family: "Lobster";
    -fx-text-fill: #1c1c1c;
    -fx-opacity: 1;
}

.label-dark {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1c1c1c;
    -fx-opacity: 1;
}

.label-respuestas {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-white-subtitle {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-dark-subtitle {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1c1c1c;
    -fx-opacity: 1;
}

.label-topper-dark {
    -fx-font-size: 64;
    -fx-font-family: "Lobster";
    -fx-text-fill: #2f2f2f;
    -fx-opacity: 1;
    -fx-border-color: #2f2f2f;
    -fx-border-radius: 20;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-padding: 5 20 5 20;
}

.label-welcome-alumno {
    -fx-font-size: 42;
    -fx-font-family: "Lobster";
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-alignment: center;
    -fx-content-display: center;
}

.label-pregunta {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-border-width: 1;
    -fx-border-radius: 20px;
    -fx-border-color: white;
}

.label-pregunta-dark {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #2f2f2f;
    -fx-opacity: 1;
    -fx-border-width: 1;
    -fx-border-radius: 20px;
    -fx-border-color: #2f2f2f;
}

.label-answer-1 {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #E03A3E;
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 1;
    -fx-border-color: black;
}

.label-answer-2 {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #963D97;
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 1;
    -fx-border-color: black;
}

.label-answer-3 {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #009DDC;
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 1;
    -fx-border-color: black;
}

.label-answer-4 {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #F5821F;
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 1;
    -fx-border-color: black;
}

/*
Estilos de tabla:
 */
.table-view {
    -fx-base: #000000;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}


.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 40pt;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
     -fx-font-size: 24pt;
     -fx-font-family: "Lobster";
     -fx-text-fill: #4f4f4f;
     -fx-alignment: center;
     -fx-opacity: 1;
 }

.table-view .table-row-cell {
    -fx-background-color: white;
    -fx-font-size: 18pt;
}

.table-view .table-row-cell:hover {
    -fx-background-color:  #F5821F;
    -fx-opacity: 0.4;
    -fx-background-radius: 10;
}

.table-view:focused .table-row-cell:focused:selected {
    -fx-background-color:  #F5821F;
    -fx-opacity: 0.9;
    -fx-background-radius: 10;

}

.text-field {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
}

.text-field:hover {
    -fx-cursor: text;
}

/*
Estilo del split pane
 */
.split-pane {
    -fx-background-color: transparent;
}

.split-pane *.split-pane-divider {
    -fx-background-color: transparent;
}


/*
Estilos de boton
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #dfdfdf;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #ffffff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #4f4f4f;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.buttonInicio {
    -fx-font-family: "Lobster";
    -fx-font-size: 24pt;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.buttonInicio-pequenyo {
    -fx-font-family: "Lobster";
    -fx-font-size: 18pt;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: #e9e9e9;
    -fx-cursor: hand;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: lightgrey;
    -fx-text-fill: grey;
}

.button:focused {
    -fx-border-color: white, lightgrey;
    -fx-border-width: 2, 2;
    -fx-border-style: solid;
    -fx-border-radius: 5, 5;
    -fx-border-insets: 2 2 2 2, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.7;
    -fx-background-color: #f0f0f0;

}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}